<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entornopazud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconepaz_main_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconepaz_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.Bullying_how_evaluation2"></activity>
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.Bullying_how_evaluation1" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.Bullying_talk_evaluation2" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.Bullying_talk_evaluation1" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.Myth_main_Evaluation" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.bullying_main_evaluation" />
        <activity android:name=".view.Fragments.BullyingItem.HowToSolution" />
        <activity android:name=".view.Fragments.BullyingItem.TalkandListen" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.StepsConflictEvaluation" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.SolutionConflictEvaluation" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.ThreePConflictEvaluation" />
        <activity android:name=".view.Fragments.ConflictResolution.rutConflicts" />
        <activity android:name=".view.Fragments.ConflictResolution.solutionConflicts" />
        <activity android:name=".view.Fragments.ConflictResolution.threeP" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.PoliticalPeaceEvaluation" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.ImplementationPeaceEvaluation" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.VictimsPeaceEvaluation" />
        <activity
            android:name="com.example.entornopazud.view.EvaluationActivities.DrugsPeaceEvaluation"
            android:label="@string/title_activity_drugs_peace" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.EndConflictPeaceEvaluation" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.TimeLinePeaceEvaluation" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.FinalPeaceEvaluation" />
        <activity android:name="com.example.entornopazud.view.Fragments.PeaceItem.ImplementationFragment" />
        <activity android:name="com.example.entornopazud.view.Fragments.PeaceItem.VictimsFragment" />
        <activity android:name="com.example.entornopazud.view.Fragments.PeaceItem.DrugsFragment" />
        <activity android:name="com.example.entornopazud.view.Fragments.PeaceItem.ConflicEndFragment" />
        <activity android:name="com.example.entornopazud.view.EvaluationActivities.RuralReformEvaluation" />
        <activity android:name="com.example.entornopazud.view.Fragments.PeaceItem.RuralReformFragmet" />
        <activity android:name="com.example.entornopazud.view.Fragments.PeaceItem.PoliticalParticipationFragment" />
        <activity android:name="com.example.entornopazud.view.Fragments.PeaceItem.TimeLineFra" />
        <activity android:name=".view.EducationalModulePack.MythsItem" />
        <activity android:name=".view.EducationalModulePack.ConflictResolutionItem" />
        <activity android:name=".view.EducationalModulePack.PeaceItem" />
        <activity android:name=".view.EducationalModulePack.BullyngItem" />
        <activity android:name=".view.activity.EducationalModule" />
        <activity android:name=".view.activity.MainStudentChat" />
        <activity android:name=".view.activity.ChatLogActivity" />
        <activity android:name=".view.activity.NewMessageTeacher" />
        <activity android:name=".view.activity.MainTeacherChat" />
        <activity android:name=".view.activity.CRUD_Courses" />
        <activity android:name=".view.activity.CRUDStudenIndivitual" />
        <activity android:name=".view.activity.List_Student_main" />
        <activity android:name=".data.model.Login" />
        <activity android:name=".view.activity.MainTeacher" />
        <activity android:name=".view.activity.MainStudent" />
        <activity android:name=".view.activity.MainRegister" />
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>