<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entornopazud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconepaz_main_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconepaz_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.EducationalModule.Items.Reconciliation.Activity.Activity_entry_Reconcilitation"></activity>
        <activity android:name=".view.EducationalModule.Items.Peace.Activity.Activity_entry_Peace" />
        <activity android:name=".view.EducationalModule.Items.Memory.Activity.Activity_entry_Memory" />
        <activity android:name=".view.EducationalModule.Items.Memory.Activity.ActivityMemory" />
        <activity android:name=".view.EducationalModule.Items.Peace.Activity.ActivityPeace" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.Activity.ActivityReconciliation" />
        <activity android:name=".view.QualiModule.statisticsStudent" />
        <activity android:name=".view.EducationalModule.Items.Memory.Bipartisanship" />
        <activity android:name=".view.EducationalModule.Items.Memory.BirthFarc" />
        <activity
            android:name=".view.EducationalModule.Items.Memory.BogotaRevolt"
            android:label="@string/title_activity_bogota_revolt" />
        <activity android:name=".view.EducationalModule.Items.Memory.Banana1928" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.ReconciliationMain" />
        <activity android:name=".view.EducationalModule.Items.Peace.PeaceMain" />
        <activity android:name=".view.EducationalModule.Items.Memory.MemoryMain" />
        <activity android:name=".view.EducationalModule.activitysTeacher" />
        <activity android:name=".view.EducationalModule.dataBaseTeacher" />
        <activity android:name=".view.General_activity.ownProfile" />
        <activity android:name=".view.QualiModule.statisticsTeacher" />
        <activity android:name=".view.EducationalModule.Items.Peace.HowToSolution" />
        <activity android:name=".view.EducationalModule.Items.Peace.TalkandListen" />
        <activity android:name=".view.EducationalModule.Items.Peace.rutConflicts" />
        <activity android:name=".view.EducationalModule.Items.Peace.solutionConflicts" />
        <activity android:name=".view.EducationalModule.Items.Peace.threeP" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.ImplementationFragment" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.VictimsFragment" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.DrugsFragment" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.ConflicEndFragment" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.RuralReformFragmet" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.PoliticalParticipationFragment" />
        <activity android:name=".view.EducationalModule.Items.Peace.TimeLineFra" />
        <activity android:name=".view.EducationalModule.Items.Peace.MythsItem" />
        <activity android:name=".view.EducationalModule.Items.Peace.ConflictResolutionItem" />
        <activity android:name=".view.EducationalModule.Items.Peace.PeaceItem" />
        <activity android:name=".view.EducationalModule.Items.Peace.BullyngItem" />
        <activity android:name=".view.EducationalModule.EducationalModule" />
        <activity android:name=".view.ComunicationModule.MainStudentChat" />
        <activity android:name=".view.ComunicationModule.ChatLogActivity" />
        <activity android:name=".view.ComunicationModule.NewMessageTeacher" />
        <activity android:name=".view.ComunicationModule.MainTeacherChat" />
        <activity android:name=".view.General_activity.CRUD_Courses" />
        <activity android:name=".view.General_activity.CRUDStudenIndivitual" />
        <activity android:name=".view.General_activity.List_Student_main" />
        <activity android:name=".model.models.Login" />
        <activity android:name=".view.General_activity.MainTeacher" />
        <activity android:name=".view.General_activity.MainStudent" />
        <activity android:name=".view.General_activity.MainRegister" />
        <activity android:name=".view.General_activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>