<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entornopazud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconepaz_main_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconepaz_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.QualiModule.statisticsStudent"></activity>
        <activity android:name=".view.EducationalModule.Items.Memory.Bipartisanship" />
        <activity android:name=".view.EducationalModule.Items.Memory.BirthFarc" />
        <activity
            android:name=".view.EducationalModule.Items.Memory.BogotaRevolt"
            android:label="@string/title_activity_bogota_revolt" />
        <activity android:name=".view.EducationalModule.Items.Memory.Banana1928" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.ReconciliationMain" />
        <activity android:name=".view.EducationalModule.Items.Peace.PeaceMain" />
        <activity android:name=".view.EducationalModule.Items.Memory.MemoryMain" />
        <activity android:name=".view.EducationalModule.activitysTeacher" />
        <activity android:name=".view.EducationalModule.dataBaseTeacher" />
        <activity android:name=".view.General_activity.ownProfile" />
        <activity android:name=".view.QualiModule.statisticsTeacher" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.Bullying_how_evaluation2" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.Bullying_how_evaluation1" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.Bullying_talk_evaluation2" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.Bullying_talk_evaluation1" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.Myth_main_Evaluation" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.bullying_main_evaluation" />
        <activity android:name=".view.EducationalModule.Items.Peace.HowToSolution" />
        <activity android:name=".view.EducationalModule.Items.Peace.TalkandListen" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.StepsConflictEvaluation" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.SolutionConflictEvaluation" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.ThreePConflictEvaluation" />
        <activity android:name=".view.EducationalModule.Items.Peace.rutConflicts" />
        <activity android:name=".view.EducationalModule.Items.Peace.solutionConflicts" />
        <activity android:name=".view.EducationalModule.Items.Peace.threeP" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.PoliticalPeaceEvaluation" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.ImplementationPeaceEvaluation" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.VictimsPeaceEvaluation" />
        <activity
            android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.DrugsPeaceEvaluation"
            android:label="@string/title_activity_drugs_peace" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.EndConflictPeaceEvaluation" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.TimeLinePeaceEvaluation" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.FinalPeaceEvaluation" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.ImplementationFragment" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.VictimsFragment" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.DrugsFragment" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.ConflicEndFragment" />
        <activity android:name="com.example.entornopazud.view.EducationalModule.EvaluationActivities.RuralReformEvaluation" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.RuralReformFragmet" />
        <activity android:name=".view.EducationalModule.Items.Reconciliation.PoliticalParticipationFragment" />
        <activity android:name=".view.EducationalModule.Items.Peace.TimeLineFra" />
        <activity android:name=".view.EducationalModule.Items.Peace.MythsItem" />
        <activity android:name=".view.EducationalModule.Items.Peace.ConflictResolutionItem" />
        <activity android:name=".view.EducationalModule.Items.Peace.PeaceItem" />
        <activity android:name=".view.EducationalModule.Items.Peace.BullyngItem" />
        <activity android:name=".view.EducationalModule.EducationalModule" />
        <activity android:name=".view.ComunicationModule.MainStudentChat" />
        <activity android:name=".view.ComunicationModule.ChatLogActivity" />
        <activity android:name=".view.ComunicationModule.NewMessageTeacher" />
        <activity android:name=".view.ComunicationModule.MainTeacherChat" />
        <activity android:name=".view.General_activity.CRUD_Courses" />
        <activity android:name=".view.General_activity.CRUDStudenIndivitual" />
        <activity android:name=".view.General_activity.List_Student_main" />
        <activity android:name=".model.models.Login" />
        <activity android:name=".view.General_activity.MainTeacher" />
        <activity android:name=".view.General_activity.MainStudent" />
        <activity android:name=".view.General_activity.MainRegister" />
        <activity android:name=".view.General_activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>